
*,
::before,
::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #191919;
  overscroll-behavior: contain;
  color: #fff;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.outer-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: absolute;
  border: solid #fff;
  border-width: 1px 0 1px 0;
  width: 300px;
  height: 440px;
  overflow: hidden;
}

.wrapper svg {
  position: absolute;
}

.box {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 12px;
}

.d-none {
  display: none;
}

.fade-out {
  animation: fade-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.fade-in {
  animation: fade-in forwards 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.wrapper::before,
.wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid #21c20f;
  border-radius: 47%;
}

.wrapper::before {
  top: -49.5%;
}

.wrapper::after {
  bottom: -49.5%;
}

/* .waist {
  position: absolute;
  background-color: #191919;
  height: 8px;
  width: 56px;
  top: 214px;
  left: calc(50% - 28px)
} */

.marker {
  position: absolute;
  border: 1px solid red;
}

.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.glass {
  position: absolute;
  width: 110px;
  height: 220px;
  background-size: cover;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAABuCAYAAACDWot5AAAAAXNSR0IArs4c6QAAAbRJREFUeF7tm9uSgyAQROX/P5qUqSJljGZG5dI9dF62svjA4fQAUUk555xSSkvATxIcqVWZIxW3yJzMAY6AYgkoxdUlmXMNE+BFMgcoxdUlmXMNE+BFMgcoxdUlmXMNE+BFsc2tAx71Psr7rpfgAGvK6pLMWSOE2i5zqGasfsmcNUKo7TKHasbqV3xzUbdgnyeqEfeXgrMKF7Vd5lDNWP2aw1zE5eDr5Zpoy4HgrMJFbZc5VDNWv+YxF205+HnPMtJyIDircFHb5zIXaVI5fHE7yqQyH1yUaJ6eJ4gQzTnhIkTz7zEX9mjOC8ceTfP0FXM0Bcd6vs40x1x3gmOdVFzmWKMpuPDmGAHdsRQc2D2+S+bY7AlumzamBf2yOaZoCm4/CbJE85Y5lmjehmMAFNy/jQdy/T0yhx7Nx3DIgILzbPYRa6+KuQKPBig4TywR7VU1hwbYBA5leRDclZpD+tXezBxC/TWHG1l/XeBGAXaDGwHYFa43YHe4Arj+bf2sfQhcr5l0KFzrmA6HaxlTCLhtTGvWIhRcbUhIuFqQ0HB7yPLdu4RQwB09iNn+7wyWEs6CLe0vdee4eoFqqsQAAAAASUVORK5CYII=);
  image-rendering: pixelated;
}

.glass:nth-child(2) {
  right: 0px;
  transform: scale(-1, 1);
}

.glass:nth-child(3) {
  transform: scale(1, -1);
  bottom: 0px;
}

.glass:nth-child(4) {
  transform: scale(-1, -1);
  bottom: 0px;
  right: 0px;
}