
*,
::before,
::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #191919;
  overscroll-behavior: contain;
  color: #fff;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.outer-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: absolute;
  border: solid #fff;
  border-width: 2px 0;
  width: 300px;
  height: 440px;
  overflow: hidden;
}

.wrapper svg {
  position: absolute;
}

.box {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 12px;
  /* border: 1px solid red; */
  background-size: cover;
  image-rendering: pixelated;
}

.d-none {
  display: none;
}

.fade-out {
  animation: fade-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.fade-in {
  animation: fade-in forwards 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
/* 
.wrapper::before,
.wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid #21c20f;
  border-radius: 47%;
}

.wrapper::before {
  top: -49.5%;
}

.wrapper::after {
  bottom: -49.5%;
} */

/* .waist {
  position: absolute;
  background-color: #191919;
  height: 8px;
  width: 56px;
  top: 214px;
  left: calc(50% - 28px)
} */

.marker {
  position: absolute;
  border: 1px solid red;
}

.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.glass {
  position: absolute;
  width: 150px;
  height: 220px;
  background-size: cover;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABuCAYAAABvL+5vAAAAAXNSR0IArs4c6QAAAf9JREFUeF7t3dtuwjAQRVH8/x8dBFVSLgJnBzse27svVaVTKi2dGUwgalqWZUkppYtfWYEkVtZoC4i13+oillhAAERtllhAAERtllhAAERtllhAAERtllhAAERtllhAAERtllhAAETvF/28prVPTKx9TveUWGIBARC1WWIBARC1WWIBARC1WWIBARDd3rb3FJ9XEytvtCXEEgsIgKjNEgsIgKjNEgsIgOjTxyM9a32XE8tmAQEQtVlHsW6/5976rPf2+XexxALDJlYdLPcWaJZYYjmGRQTAg3y8dc4jxLuiWDYLCIDo1ztYHcVnSbFsFhAA0eyN5I7iv6ZYNgsIgGi2Wb5WBGMollhg+CCW7foD27WzxIJYgoFmiSUWWvS7d9b6qDO//BELdAtjzby7xKrdrFnbdahZYoE6zvrMeLhZM7brJ6zZwMQC6+dnrJnaJdbZzZqlXUWaNctRoijW6A0Tq8XOevybo17zKt6skfeXWK3HcNR2VWvWiGDVsUY6TogVZWeNdpw4pVmj7K9TsXrfX6dj9QzWBKtXsGZYPYI1xeoNrDlWT2AhsHoBC4O1gt2+R/1/i6Gwoh9eQ2JFHcuwWBHBQmNF22PhsR73WOvl3w1WhOXfHVbL0ewSq9Vodo11NtoQWK9otZ4IhsJ6vea//lzq5dOwWDXgpsAqBXcFOkS4fhD20+MAAAAASUVORK5CYII=);
  image-rendering: pixelated;
}

.glass:nth-child(2) {
  right: 0px;
  transform: scale(-1, 1);
}

.glass:nth-child(3) {
  transform: scale(1, -1);
  bottom: 0px;
}

.glass:nth-child(4) {
  transform: scale(-1, -1);
  bottom: 0px;
  right: 0px;
}