
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #292929;
  overscroll-behavior: contain;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.block::before {
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}


.machine {
  position: relative;
  width: 700px;
  height: 500px; 
  --m: 4;
  --w: 80px;
  --h: 125px;
  /* background-color: white; */
  border: 1px solid white;
}

.input-wrapper {
  position: absolute;
  top: 10px;
  width: 100%;
}


.machine-arm-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid yellow;
  --size: 60px;
  width: var(--size);
  height: var(--size);
  transition: 0.1s;
}

.arm {
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  margin-left: 25px;
  width: 10px;
  height: var(--size);
  transition: 0.1s;
}

.arm::before,
.arm::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: -4px;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  z-index: 1;
}

.arm::before {
  top: -6px;
}
.arm::after {
  bottom: -6px;
}

.claws {
  position: absolute;
  /* border: 1px solid red; */
  width: 6px;
  height: 20px;
  bottom: -20px;
  image-rendering: pixelated;
}

.claws::before,
.claws::after {
  content: '';
  position: absolute;
  top: 0;
  background-size: 20px 32px;
  width: 20px;
  height: 32px;
  transition: 0.2s;
}

.claws::before {
  left: -20px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAAXNSR0IArs4c6QAAAFhJREFUKFOl0ksOwCAIBNDh/ocegw1GW36NLFw9iQ4I8iIAUTKPoEgSIo+L4ERWij34QV5HF73fGKIdpshgiX5DvVB23eNpfcaybcWT4qsRHp2rpVjYNmwA+HU6D7dxyEMAAAAASUVORK5CYII=');
  --close-angle: 45deg;
  transform-origin: top right;
}

.claws::after {
  left: 5px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAAXNSR0IArs4c6QAAAFVJREFUKFOlklkKACAIRMf7H3qiQNrcKL80H2qOgmkEIEu8uZogSYiM0IT744DUPHirGMFrm7DyOY8LW4ObsLeOC/4CS61LnymtJ1XnTcLsKFTi8MwawIQ6DxF7vNsAAAAASUVORK5CYII=');
  --close-angle: -45deg;
  transform-origin: top left;
}

.arm.open .claws::before,
.arm.open .claws::after {
  rotate: var(--close-angle);
}
/* @keyframes claw {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: var(--angle);
  }
} */



.block {
  position: absolute;
  --m: 1;
  /* border: 1px solid rgb(255, 0, 255); */
  /* width: 0px;
  height: 0px; */
  /* z-index: 999; */
}

.block::after {
  --size: calc(15px * var(--m));
  position: absolute;
  left: calc(-0.5 * var(--size));
  top: calc(-0.5 * var(--size));
  width: var(--size);
  height: var(--size);
  /* border: 1px solid rgba(0, 0, 255, 0.786); */
  content: '';
  z-index: 9;
  /* border-radius: 50%; */
}

/*#974011*/
.block.head::before {
  position: absolute;
  content: '';
  width: calc(var(--m) * 45px);
  height: calc(var(--m) * 28px);
  left: calc(var(--m) * -22.5px);
  top: calc(var(--m) * -2px);
  /* border: 1px solid rgb(255, 230, 0); */
  z-index: 10;
  pointer-events: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAcCAYAAAD1PDaSAAAAAXNSR0IArs4c6QAAAMJJREFUWEftmNsNgCAMAGUEnUi30Yl0G51IR9BAUlOQGCC8Supno+U4CoaKzvKsY3/b4iViy3EJc1wtALDzfpbgs465TYOKY/gXWgLXBGvOQMIDuIKuHRgmAOA0oalYxrYFQ2c4c2Rdt2sazkopMsWx6JPfyTROCKsfE9w3P0OH7kE2jc35bJQQ4z75nWo6BCLlNwyd0q5Zqu3+EXNZdBmHa9rFUox36JrmO2KM9f/JoV1sKdj+tBBgcuSaNXhVam+LPWUuvFvy6AkVAAAAAElFTkSuQmCC);
  --w: 45px;
  --h: 28px;
}

.block.mouth::before {
  position: absolute;
  content: '';
  width: calc(var(--m) * 19px);
  height: calc(var(--m) * 13px);
  left: calc(var(--m) * -9.5px);
  top: calc(var(--m) * -4px);
  /* border: 1px solid rgb(255, 230, 0); */
  pointer-events: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAYAAABLjFUnAAAAAXNSR0IArs4c6QAAAGhJREFUOE9jZICC6Q6C/2FsUunMA+8ZQXrABMigjP3vSDUDrn6GoxADyEBGfAaBFKEDXJaC1NLPMJCrkF2HLygIuoyUQMRpGEiCkCvQ5fG6DFvgw1yKzSL6eJOUsIKppb7LqJoDqJk3AS0sVC1piT+sAAAAAElFTkSuQmCC);
  --w: 19px;
  --h: 13px;
}

.block.body::before {
  position: absolute;
  content: '';
  width: calc(var(--m) * 30px);
  height: calc(var(--m) * 20px);
  left: calc(-15px * var(--m));
  top: calc(-7px * var(--m));
  /* border: 1px solid rgb(72, 255, 0); */
  --w: 30px;
  --h: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAAXNSR0IArs4c6QAAAI1JREFUSEtjZEAD0x0E/6OLUYOfeeA9I7I5cA7Mwoz976hhD4YZMxyFwGIwB4AtBllKKwvRXQByAMjygbOYnr6F+R7ka8ZRi2mSpNEMHXpBDXIxcvZD5xMKNYp8DLOMVEtBjqLIYpgB5BQ8FFk8ID4e0DgmlIDwyVMU1BRbPPJqJ1iQDUhDADm+6NX0AQCkJYfpyGYSbwAAAABJRU5ErkJggg==);
  pointer-events: none;
}

.block.head {
  z-index: 10;
}

.block.mouth {
  z-index: 10;
}

.block.body {
  z-index: 9;
}

.block.ear-left,
.block.ear-right {
  z-index: 9;
}

.block.arm-left,
.block.arm-right,
.block.leg-left {
  z-index: 7;
}

.block.leg-left,
.block.leg-right {
  z-index: 7;
}

.block.ear-left::before,
.block.ear-right::before,
.block.arm-left::before,
.block.arm-right::before,
.block.leg-left::before,
.block.leg-right::before {
  position: absolute;
  content: '';
  /* border: 1px solid rgb(255, 230, 0); */
  width: calc(15px * var(--m));
  height: calc(15px * var(--m));
  --w: 15px;
  --h: 15px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAFxJREFUOE9jZICC6Q6C/2FsQnTmgfeMIDVgAqQxY/87Qnrg8jMchRhABjAia/z39w8DEzMLUYaADIBrJkUjyHQUzURZh6RoVDOJIUa9AKM4nkkxAOxsitI2JbkKAIA0V/2WG25aAAAAAElFTkSuQmCC);
}

.block.ear-left::before {
  top: calc(var(--m) * -8px);
  left: calc(var(--m) * -10px);
}

.block.ear-right::before {
  top: calc(var(--m) * -8px);
  right: calc(var(--m) * -10px);
}

.block.arm-left::before {
  top: calc(var(--m) * -8px);
  left: calc(var(--m) * -10px);
}

.block.arm-right::before {
  top: calc(var(--m) * -8px);
  right: calc(var(--m) * -10px);
}

.block.leg-left::before {
  top: calc(var(--m) * -8px);
  left: calc(var(--m) * -1px);
}

.block.leg-right::before {
  top: calc(var(--m) * -8px);
  right: calc(var(--m) * -1px);
}


.connector {
  position: absolute;
  height: 1px;
  width: 0;
  /* border-top: solid #ffffff 1px; */
  transform-origin: left;
  z-index: -1;
}

.connector.white {
  border-top: solid #ffffff 2px;
  z-index: 999;
}

.capsule {
  position: absolute;
  left: calc((var(--w) * var(--m)) / var(--offset));
  top: calc((var(--h) * var(--m)) / var(--offset));
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hotpink;
  border-radius: 50%;
}


.capsule-wrapper {
  border: 1px solid hotpink;
  position: absolute;
  --m: 2;
  --w: 16px;
  --h: 16px;
  --offset: -2;
  width: 0;
  height: 0;
  transition: 0.05s;
  cursor: pointer;
}


.line-start,
.line-end {
  position: absolute;
  height: 0;
  width: 0;
}

.line {
  position: absolute;
  height: 1px;
  width: 0;
  border-top: solid white 4px;
}


.cover.white {
  position: absolute;
  bottom: 116px;
  width: 100%;
  height: calc(220px - 116px);
  background-color: white;
  z-index: 1;
  transition: 0.5s;
}

button {
  border: 0;
  background-color: white;
  padding: 4px 8px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10px;
  margin-right: 10px;
}


.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.red {
  border-color: red;
}
/* 
.yellow:after {
  background-color: yellow;
}

.blue:after {
  background-color: blue;
}

.green:after {
  background-color: green;
}

.purple:after {
  background-color: purple;
} */

/* .frame {
  position: absolute;
  width: 90px;
  height: 120px;
  border: 1px solid white;
  left: -45px;
  top: -40px;
  pointer-events: none;
} */

.test-marker {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgb(242, 242, 10);
  z-index: 99;
}