
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(248, 219, 130);
  overscroll-behavior: contain;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pix {
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}

.gacha-machine {
  position: relative;
  /* border: 4px solid black; */
  width: 320px;
  height: 500px; 
  /* width: 100%;
  height: 100%; */

}

.gacha-machine::after {
  position: absolute;
  content: '';
  --m: 4;
  --w: 80px;
  --h: 125px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAB9CAYAAAA1I+RFAAAAAXNSR0IArs4c6QAAAdlJREFUeF7t00FuglAARVGZdhHdRPe/hG6ii+gUAxGjH03UO+T8mcAz4XidTo/P/OT60S9PI8B4YYPbPXh0ucv773xuoZab4F4r5Wq1gcF7De72qdUM4Ptw2+IKqL6AuBQIEODnAnE5K7AJAmx+J4AAo0CcKxBgFIhzBQKMAnGuQIBRIM4VCDAKxLkCAUaBOFcgwCgQ5woEGAXiXIEAo0CcKxBgFIhzBQKMAnGuQIBRIM4VCDAKxLkCAUaBOFcgwCgQ5woEGAXiXIEAo0CcKxBgFIhzBQKMAnGuQIBRIM4VCDAKxLkCAUaBOFcgwCgQ5woEGAXiXIEAo0CcKxBgFIhzBQKMAnGuQIBRIM4VCDAKxLkCAUaBOFcgwCgQ5woEGAXiXIEAo0CcKxBgFIhzBQKMAnGuQIBRIM4VCDAKxLkCAUaBOFcgwCgQ5woEGAXiXIEAo0CcKxBgFIhzBQKMAnGuQIBRIM4VCDAKxLkCAUaBOFcgwCgQ5woEGAXiXIEAo0CcKxBgFIhzBQKMAnGuQIBRIM4VCDAKxLkCAUaBOFcgwCgQ52uBy5n/fr7idx1r/v37v7zwBPDD330EVOEbkBvemuCwm5fP/s6PNS9wd24j4LZcIZ2dwM7rDIX1ABoABzTXAAAAAElFTkSuQmCC);
  pointer-events: none;
  z-index: 1;
}

.gacha-machine div:not(.cover):not(.circle):not(.marker) {
  z-index: 0 !important;
}

.capsule {
  position: absolute;
  --m: 4;
  --w: 16px;
  --h: 16px;
  --offset: -2;
  width: 0;
  height: 0;
}

.capsule::after {
  position: absolute;
  content: '';
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
  /* 32px */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAANlJREFUWEftl1EOgCAIhvVoHasTdKyOZsOlIxJRp+hWPfQk/B8/FWFN/eWEEFuTsvQwFpVias6a0mTSOa7oAMPG5xJDcKswBWJzcQI9xQNMMmcKYIQ4C0EBRoonITCAhvgLYhkAzeofLgQHvg0wo/rYBmjBDzDfAbcdNSO821l77n7auR9gtgPQU/U2QP/hhyd+irVdWA5AtQ2het8D9FKrPQccgIoLWJw6ECfUqAeSinMAQ5xIiecAukJw4hKAh/C3xmF1C2d1SlevuHBKMEi0pMCm3a/ren4BhnNcGaWUBMMAAAAASUVORK5CYII=);
  /* 16px */
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAH5JREFUOE+tU1sSgCAI1KN1rE7QsToaDUwwiJtm5Kf74qG1PB8KUEVUdKnCiMF7RIJJLp2NjOPJDTBojSHjqsGKWL1F84vBl3SrgivIG9B2TGaG4Xrusg7KGshaVk04vdlC1mCpCk2XEsJ4pq14MTLQZ1piS7ew04w+zqvvfAHW2SwNlSBwQQAAAABJRU5ErkJggg==); */

  /* original */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGRJREFUOE9jZMAE/7GIIQsx4uLANKIowGMBWB1MMUgzIY3oZoH1gDSRoxlm2P9RAxjgYUAg6nFLgwPx4TZJsgyQ93oOjvthYADI/yR7A+R/WFKGJ0sQg1CAQjXC8xG2DERSdgYAL7spB3kjk2oAAAAASUVORK5CYII=);
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  left: calc((var(--w) * var(--m)) / var(--offset));
  top: calc((var(--h) * var(--m)) / var(--offset));
}



.sign {
  position: absolute;
  color: #9a5838;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #9a5838;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #9a5838;
}

.d-none {
  display: none;
}

.indicator {
  position: fixed;
  top: 10px;
  right: 10px;
}


.line-start,
.line-end {
  position: absolute;
  height: 0;
  width: 0;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  background-color: red;
}

.line-end {
  height: 4px;
  width: 4px;
  background-color: green;
}

.line {
  position: absolute;
  height: 1px;
  width: 0;
  border-top: solid rgb(94, 94, 94) 4px;
}

.marker {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(0, 4, 255);
  width: 10px;
  height: 10px;
  margin: -5px -5px 0 0 ;
  z-index: 50;
}



.circle {
  position: absolute;
  bottom: 30px;
  left: 35px;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  z-index: 2;
  opacity: 0.3;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAPhJREFUWEft2W0KwyAMBuB5TD2gHnPDQcTZaOIHGln6a1ClD6+y1NS8Ji7v/Zsz3TlnOOOwMd0Tc5S1lvXcEEIa14tlAwHGRdXkgOVCSeAqWAnmQpvAiJtNjNoDEdpKswrcgQN8C4kCd+Io5AN4AtdC/gBP4mrIe4AS0sNSTAmKBkrClSl+E1QgVU6Q+/DnbSSmly+zAgdWN02Jy6wJaoIzCczO1T34HwlqLR5c51SLr0hQGjI/ht7xRg3bRMKrV3mIv+dUJyFFrAVyX+vjRJLdzaOdyOH2W46Mv1f3CZc0MPMqtarTyoXBs8kWcFlKxTbRsZq/4zPEBxG5B6J+JEVrAAAAAElFTkSuQmCC);
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAANhJREFUWEft2NEOgCAIBdD4/4+21aYzUwFJhUbPuk7XCgUOwRVCCJTpAACUcbUx7IlUVAvExZKBUlgJpkJR4NcwLrQLnI2L2F6aTeAqHIasAlfjesgXcBeuhXwAd+NqSDtALemVKaYEVQO14fIU7wQdOLiVuSoMaE0vLbMDB5fXExQGl6b7RyJN0hP8f4JeiwVrfNdiEwlqRMbwbOyo42uiZWeTdxrsnOq0pFj2aey1PnYl2epw2W2/rUoS67SiHdZZUAyWziTcUin9V1Jhw8D8gahYLiq/xwmauaABqo1RrAAAAABJRU5ErkJggg==); */
  --w: 40px;
  --h: 40px;
  --m: 4;
}

.circle::after {
  position: absolute;
  top: -10px;
  right: -22px;
  content: '';
  --w: 15px;
  --h: 15px;
  --m: 4;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAGVJREFUOE9j/PX3338GJMDGzMSIzMfHZkTXDFNMjCEotmAzCJ8hWJ1IrFfw+g/ZEGwuIBg4+AwgqBkUgDAD0G0nSTPIIGQDiNKMy3aSNSPbTrRmbLbTXjOuJEy0zdhSHdGasfkZANEjPASQz0WLAAAAAElFTkSuQmCC);
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}

.handle {
  position: relative;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.handle::after {
  position: absolute;
  top: -7px;
  content: '';
  --w: 40px;
  --h: 16px;
  --m: 4;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAQCAYAAABk1z2tAAAAAXNSR0IArs4c6QAAAIBJREFUSEvtltEKwCAIRedn6gfqZ264tw2HohYL6rHodjiJBUfDYObTiiEiqManAt5AiGhyiMhjPgMcAowCebYywCZgF1AH8A04CygDDAr3VUNe4Oh1LYkNWLG8DVbs6d41DP6+zVjXMKsvRl6WNZ86r7ijhiOGvLNCBr2Qkd+tCztQY7fQtPtJAAAAAElFTkSuQmCC);
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}


.shake {
  position: absolute;
  left: 20px;
  bottom: 50px;
}

.cover {
  position: absolute;
  bottom: 20px;
  width: 230px;
  height: calc(220px - 20px);
  background-color: rgba(255, 0, 0, 0.546);
  /* background-color: #e2330a; */
  z-index: 1;
}

.cover.right {
  bottom: 80px;
  right: 0;
  width: calc(100% - 230px);
  height: calc(220px - 80px);
}

.release {
  position: absolute;
  top: 20px;
  right: 20px;
}