
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(248, 219, 130);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pix {
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}

.gacha-machine {
  border: 1px solid hotpink;
  width: 350px;
  height: 400px; 
  /* width: 100%;
  height: 100%; */
}

.capsule {
  /* border: 1px solid red; */
  position: absolute;
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGRJREFUOE9jZMAE/7GIIQsx4uLANKIowGMBWB1MMUgzIY3oZoH1gDSRoxlm2P9RAxjgYUAg6nFLgwPx4TZJsgyQ93oOjvthYADI/yR7A+R/WFKGJ0sQg1CAQjXC8xG2DERSdgYAL7spB3kjk2oAAAAASUVORK5CYII=); */
  --m: 2;
  --w: 32px;
  --h: 32px;
  --offset: -2;
  width: 0;
  height: 0;
  /* width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m)); */
  /* background-position: calc(var(--w) * -1) calc(var(--h) * -1); */
  /* transition: 1s; */
}

.capsule::after {
  position: absolute;
  content: '';
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGRJREFUOE9jZMAE/7GIIQsx4uLANKIowGMBWB1MMUgzIY3oZoH1gDSRoxlm2P9RAxjgYUAg6nFLgwPx4TZJsgyQ93oOjvthYADI/yR7A+R/WFKGJ0sQg1CAQjXC8xG2DERSdgYAL7spB3kjk2oAAAAASUVORK5CYII=);
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  left: calc((var(--w) * var(--m)) / var(--offset));
  top: calc((var(--h) * var(--m)) / var(--offset));
}

/* .capsule.hit {
  background-color: hotpink;
} */


.sign {
  position: absolute;
  color: #9a5838;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #9a5838;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #9a5838;
}

.d-none {
  display: none;
}

.indicator {
  position: fixed;
  top: 10px;
  right: 10px;
}

/* .marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
  z-index: 100;
  margin-top: -5px;
  margin-left: -5px;
}

.red { background-color: rgb(255, 64, 0); }
.green { background-color: rgb(42, 239, 190); }
.blue { background-color: rgb(0, 140, 255); } */

.line-start,
.line-end {
  position: absolute;
  height: 5px;
  width: 5px;
  padding: 2px 0 0 2px;
  background-color: blue;
  border-radius: 50%;
  /* border-top: solid blue 1px; */
}

.line {
  position: absolute;
  height: 1px;
  width: 0;
  border-top: solid rgb(140, 0, 255) 1px;
}

.marker {
  position: absolute;
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height: 10px;
  margin: -5px -5px 0 0 ;
}


.lever-box {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid blue;
  width: 200px;
  height: 200px;
}

.circle {
  border-radius: 50%;
  border: 1px solid blue;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
}

.lever {
  width: 200px;
  height: 50px;
  border: 1px solid purple;
  display: flex;
  justify-content: space-between;
  /* transition: 0.1s; */
}

.lever-handle {
  width: 50%;
  height: 50px;
  background-color: white;
}

.lever-handle:hover {
  opacity: 0.5;
}

.shake {
  position: absolute;
  left: 20px;
  bottom: 50px;
}